<style type="text/css">
    .wallet-row {
        font-size: 18px;
    }
</style>
<template>
    <section>
        <Menu/>
        <div class="container">
            <div class="col-12">
                <div class="row p-2">
                    <div class="col-12">
                        <h1 class="text-center">Account</h1>
                        <div class="card p-2 border-success text-success shadow">
                            <h3 class="card-title">Operations</h3>
                            <table class="table card-body">
                                <thead>
                                <tr>
                                    <th scope="col">Wallet</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="row-cols-2" v-for="operation in operations" v-bind:key="operation.index">
                                    <td>
                                        <div class="col-12 text-right"
                                             v-if="errors[operation.index - 1].msgWallet !== ''">
                                            <span class=" text-danger">{{errors[operation.index - 1].msgWallet}}</span>
                                        </div>
                                        <div class="col-12">
                                            <label v-text="'wallet #' + operation.index" class="col-3">Wallet #</label>
                                            <select v-model="operation.toWalletNumber" class="custom-select col-9">
                                                <option selected disabled>Open this select menu</option>
                                                <option v-for="wallet in wallets" v-bind:key="wallet"
                                                        v-bind:value="wallet">{{wallet}}
                                                </option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-12 text-right"
                                             v-if="errors[operation.index - 1].msgAmount !== ''">
                                            <span class="text-danger">{{errors[operation.index - 1].msgAmount}}</span>
                                        </div>
                                        <div class="col-12">
                                            <label class="col-3" v-text="'amount #' + operation.index">Amount #</label>
                                            <input v-model="operation.diff" class="col-9 text-right" type="number"
                                                   min="0">
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span v-text="statuses[operation.index - 1]">status</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="mt-3">
                            <button class="btn-block btn btn-outline-success" v-on:click="performTransfer">
                                Transfer
                            </button>
                            <div class="row mt-2">
                                <div class="col-4">
                                    <button class="btn-block btn btn-outline-primary" v-on:click="refreshWallet">
                                        Check wallet
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="btn-block btn btn-outline-danger" v-on:click="refreshHistory">
                                        Check history
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-4">
                        <div class="card p-2 border-primary text-primary shadow">
                            <div class="row-cols-2">
                                <h3>Wallet</h3>
                            </div>
                            <div class="row-cols-2 text-dark">
                                <span class="wallet-row">Money on account: </span>
                                <span class="wallet-row font-weight-bold" v-text="money">Money</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card p-2 border-danger text-danger shadow">
                            <h3>History</h3>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th>Operation</th>
                                    <th>Difference</th>
                                    <th>Timestamp</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="item in history" v-bind:key="item.id">
                                    <td v-text="item.id">id</td>
                                    <td v-text="item.codeOp">codeOp</td>
                                    <td v-text="item.diff">diff</td>
                                    <td v-text="new Date(item.timestamp).toUTCString()">timestamp</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</template>
<script>
    import Menu from "./Menu";
    import BackendService, {
        USER_ID_SESSION_ATTRIBUTE_NAME,
        USER_TOKEN_SESSION_ATTRIBUTE_NAME
    } from "../service/BackendService";


    export default {
        name: "Account",
        components: {
            Menu
        },
        data: function () {
            return {
                operations: [
                    {
                        index: 1,
                        codeOp: 1,
                        diff: 0,
                        toWalletNumber: ''
                    },
                    {
                        index: 2,
                        codeOp: 1,
                        diff: 0,
                        toWalletNumber: ''
                    },
                    {
                        index: 3,
                        codeOp: 1,
                        diff: 0,
                        toWalletNumber: ''
                    },
                    {
                        index: 4,
                        codeOp: 1,
                        diff: 0,
                        toWalletNumber: ''
                    },
                    {
                        index: 5,
                        codeOp: 1,
                        diff: 0,
                        toWalletNumber: ''
                    }],
                money: 0,
                history: [],
                wallets: [],
                errors: [
                    {
                        msgWallet: '',
                        msgAmount: ''
                    },
                    {
                        msgWallet: '',
                        msgAmount: ''
                    },
                    {
                        msgWallet: '',
                        msgAmount: ''
                    },
                    {
                        msgWallet: '',
                        msgAmount: ''
                    },
                    {
                        msgWallet: '',
                        msgAmount: ''
                    },
                ],
                statuses: ['', '', '', '', '']
            };
        },
        methods: {
            refreshWallet: function () {
                BackendService.getUserWalletInfo(
                    sessionStorage.getItem(USER_ID_SESSION_ATTRIBUTE_NAME),
                    sessionStorage.getItem(USER_TOKEN_SESSION_ATTRIBUTE_NAME))
                    .then(response => {
                        this.money = response.data.money;
                    })
                    .catch(() => {
                        alert('cant get wallet info');
                    });
            },
            refreshHistory: function () {
                BackendService.getUserWalletHistory(
                    sessionStorage.getItem(USER_ID_SESSION_ATTRIBUTE_NAME),
                    sessionStorage.getItem(USER_TOKEN_SESSION_ATTRIBUTE_NAME))
                    .then(response => {
                        this.history = this.prepareHistory(response.data);
                    })
                    .catch(() => {
                        alert('cant get wallet history');
                    });
            },
            prepareHistory: function (historyData) {
                for (let i = 0; i < historyData.length; i++) {
                    let item = historyData[i];
                    if (item.codeOp === 0)
                        historyData[i].codeOp = '--';
                    else
                        historyData[i].codeOp = '++';
                }
                return historyData;
            },
            performTransfer: function () {
                const validOperations = [];
                this.errors.forEach(value => {
                    value.msgWallet = '';
                    value.msgAmount = '';
                });
                this.operations.forEach((value, index) => {
                    if (value.diff <= 0) {
                        this.errors[index].msgAmount = 'Negative or zero amount';
                    }
                    if (value.toWalletNumber === '') {
                        this.errors[index].msgWallet = 'Invalid wallet number';
                    }
                    if (value.diff > 0 && value.toWalletNumber !== '') {
                        validOperations.push(value);
                        this.statuses[index] = 'Processing';
                    }
                });

                if (validOperations.length === 0) {
                    alert('Fill at least one operation correctly');
                    return;
                }

                BackendService.processTransferOperation(
                    sessionStorage.getItem(USER_ID_SESSION_ATTRIBUTE_NAME),
                    validOperations,
                    sessionStorage.getItem(USER_TOKEN_SESSION_ATTRIBUTE_NAME))
                    .then(response => {
                        if (response.status === 404) {
                            alert('transaction cant be performed / wallet not found');
                            return;
                        }

                        validOperations.forEach((value) => {
                                this.statuses[value.index - 1] = 'Done';
                            }
                        );

                        this.money = response.data.money;
                        this.refreshWallet();
                        this.refreshHistory();
                    })
                    .catch(errors => {
                        alert('cant perform transfer');
                        validOperations.forEach((value) => {
                                this.statuses[value.index - 1] = 'Error';
                            }
                        );
                    })
                    .finally(() => {
                        validOperations.forEach((value) => {
                                this.statuses[value.index - 1] = 'Error';
                            }
                        );
                    });
            },
            refreshWalletNumbers: function () {
                BackendService.getUserWalletNumbers(
                    sessionStorage.getItem(USER_TOKEN_SESSION_ATTRIBUTE_NAME))
                    .then(response => {
                        this.wallets = response.data;
                    })
                    .catch(() => {
                        alert('cant get all wallet numbers');
                    })
            }
        },
        created: function () {
            this.refreshWallet();
            this.refreshHistory();
            this.refreshWalletNumbers();
        }
    };
</script>
