<template>
    <section>
        <Menu/>
        <div class="container w-auto">
            <div class="card m-5 shadow">
                <h1 class="text-center card-title">Login</h1>

                <div v-if="hasLoginFailed" class="alert alert-warning text-center">Invalid Credentials</div>
                <div v-if="showSuccessMessage" class="alert text-center">Login Successful</div>

                <div class="form card-body">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label">Username:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="username" v-model="username"
                                       placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="password" placeholder="Password" name="password"
                                       v-model="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" style="width: 200px" v-on:click="loginClicked">Login
                            </button>
                            <button class="btn btn-success mt-2" style="width: 200px" v-on:click="toRegistration">
                                Registration
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    import Menu from "./Menu";
    import BackendService from "../service/BackendService";

    export default {
        name: "Login",
        components: {
            Menu
        },
        data: function () {
            return {
                username: "",
                password: "",
                hasLoginFailed: false,
                showSuccessMessage: false
            };
        },
        methods: {
            loginClicked: function () {
                BackendService.loginUser(
                    this.username,
                    this.password
                )
                    .then((response) => {
                        BackendService.registerSuccessfulLogin(
                            response.data.userId,
                            this.username,
                            response.data.token
                        );
                        this.showSuccessMessage = true;
                        this.$router.push("/account");
                    })
                    .catch(() => {
                        this.hasLoginFailed = true;
                        this.showSuccessMessage = false;
                    });
            },
            toRegistration: function () {
                this.$router.push("/registration");
            }
        }
    };
</script>

<style>
    .form {
        width: 400px;
        margin: 0 auto;
        padding-top: 20px;
    }
</style>
