<template>
    <section>
        <Menu/>
        <div class="container">
            <h1>You are logged out</h1>
            Thank You for Using Our Application.
        </div>
    </section>
</template>
<script>
    import Menu from "./Menu";
    import BackendService from "../service/BackendService";

    export default {
        name: "Logout",
        components: {
            Menu
        },
        created: function () {
            BackendService.logout();
        }
    };
</script>
