<template>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-brand col-2 text-center">
                VUE Bank
            </div>
            <div class="col-8">
            </div>
            <div class="navbar-nav col-2 navbar-collapse justify-content-end">
                <router-link v-if="isAuthenticated" class="nav-link" to="/account" v-text="user">Account
                </router-link>
                <router-link v-if="!isAuthenticated" class="nav-link" to="/login">Login</router-link>
                <router-link v-if="isAuthenticated" class="nav-link" to="/logout">Logout</router-link>
            </div>
        </nav>
    </header>
</template>
<script>
    import BackendService from "../service/BackendService";

    export default {
        name: "Menu",
        data() {
            return {
                isAuthenticated: BackendService.isUserLoggedIn(),
                user: BackendService.getLoggedInUserName()
            };
        },
    }
</script>
