<template>
    <section>
        <Menu/>
        <div class="container w-auto">
            <div class="card m-5 shadow">
                <h1 class="text-center card-title">Register</h1>
                <div v-if="hasRegisterFailed" class="alert alert-warning text-center">Invalid Input</div>
                <div v-if="showSuccessMessage" class="alert text-center">Register Successful</div>
                <div class="form card-body">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label">Username:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="username" v-model="username"
                                       placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="password" placeholder="Password" name="password"
                                       v-model="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password repeat:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="password" placeholder="Repeat password" name="passwordRepeat"
                                       v-model="passwordRepeat">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <button class="btn btn-success" style="width: 200px" v-on:click="registerClicked">Registration
                            </button>
                            <button class="btn btn-primary ml-2" v-on:click="toLogin">Back</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</template>
<script>
    import Menu from "./Menu";
    import BackendService from "../service/BackendService";

    export default {
        name: "Registration",
        components: {
            Menu
        },
        data: function () {
            return {
                username: "",
                password: "",
                passwordRepeat: "",
                hasRegisterFailed: false,
                showSuccessMessage: false
            };
        },
        methods: {
            registerClicked: function () {
                var vm = this;
                if (vm.password.localeCompare(vm.passwordRepeat) === 0) {
                    BackendService.registerUser(
                        this.username,
                        this.password
                    )
                        .then((response) => {
                            BackendService.registerSuccessfulLogin(
                                response.data.userId,
                                this.username,
                                response.data.token
                            );
                            this.showSuccessMessage = true;
                            this.$router.push("/account");
                        })
                        .catch(() => {
                            this.hasRegisterFailed = true;
                            this.showSuccessMessage = false;
                        });
                } else {
                    this.hasRegisterFailed = true;
                    this.showSuccessMessage = false;
                }
            },
            toLogin: function () {
                this.$router.push("/login");
            }
        }
    };
</script>
<style>
    .form {
        width: 400px;
        margin: 0 auto;
        padding-top: 20px;
    }
</style>